.light-only {
  display: none;
}

.quarto-light .light-only {
  display: inline-block;
}

.dark-only {
  display: none;
}

.quarto-dark .dark-only {
  display: inline-block;
}

.quarto-dark .dark-invert .figure-img,
.quarto-dark img.dark-invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
