<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/notes/">Notes</a></li>
    <li><a href="/pages/about/">About</a></li>
    <li><a href="/feed.xml">Feed</a></li>
    <li><a href="/notes.xml">Notes Feed</a></li>
  </ul>
</nav>
