<nav>
  <ul>
    <li>
      <a href="https://firechicken.club/kotatsuyaki/prev" class="enlarge-hit">←&nbsp;Prev</a>
      <a href="https://firechicken.club">Fire Chicken Webring</a>
      <a href="https://firechicken.club/kotatsuyaki/next" class="enlarge-hit">Next&nbsp;→</a>
    </li>
  </ul>
</nav>
